{% extends "admin123/admin-panel.html" %}

{% block content-adminlist %}
    <table class="table table-dark">
        <tr>
            <td>Логин</td>
            <td>Пароль</td>
            <td>Роль</td>
            <td>Дата регистрации</td>
            <td>Дополнительная информация</td>
        </tr>
        {% for post in object_list %}
            <tr>
                <td>{{ post.login }}</td>
                <td>{{ post.password }}</td>
                <td>
                    {% if post.right == 1 %}
                        Администратор
                    {% endif %}
                    {% if post.right == 2 %}
                        Директор
                    {% endif %}
                    {% if post.right == 3 %}
                        Бухгалтер
                    {% endif %}
                    {% if post.right == 4 %}
                        Пользователь
                    {% endif %}
                </td>
                <td>{{ post.date|date:"j F Y, время: H:i:s" }}</td>
                <td>{{ post.info }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
